<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Formación profesional</a>
    <ng-template ngbNavContent>
      <app-ipn></app-ipn>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Universidad</a>
    <ng-template ngbNavContent>
      <app-upiicsa></app-upiicsa>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Bachillerado</a>
    <ng-template ngbNavContent>
      <img class="w-100 img-fluid" src="https://www.cecyt14.ipn.mx/assets/files/cecyt14/img/Mision,%20Vision%20y%20Objetivo/Escudo%20CECyT%2014%202018%20guinda%20negat.png" alt="">

    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
